h2 {
    margin-left: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-left: 20px;
    
  }
  
  th, td {
    border: none;
    padding: 8px;
    text-align: left;
  }
  
  .table-string:hover {
    background-color: rgb(210, 236, 254); 
 }

th:hover {
        background-color: initial;
 }
  
 tbody td:nth-child(1) { width: 35%; } /* Имя файла */
 tbody td:nth-child(2) { width: 10%; } /* Размер (КБ) */
 tbody td:nth-child(3) { width: 20%; } /* Комментарий */
 tbody td:nth-child(4) { width: 12%; } /* Дата загрузки */
 tbody td:nth-child(5) { width: 12%; } /* Последняя дата скачивания */