h2 {
    margin-left: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-left: 20px;
    border-radius: 4px;
  }
  
  th, td {
    border: none;
    padding: 8px;
    text-align: left;
  }
  
  .table-string:hover {
    background-color: rgb(210, 236, 254); 
 }

th:hover {
        background-color: initial;
 }
  
  