.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  .logout-link {
    cursor: pointer;
    color: #000000;
    margin-right: 10px;
  }

  .current-username {
    font-weight: 600;
    color:#000000;
    margin-left: 10px;
  }
  
  .logout-link:hover {
    color: #484848;
    text-decoration: underline;

  }
  